<!-- Name: Maria Macias
StudentId: 301290835
Date: May 28th 2023
File name: head.ejs -->
<meta charset="UTF-8">
<title>Portfolio - Maria Macias (301290835)</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel='stylesheet' href='/stylesheets/style.css'>
<style>
  body { padding-top:50px; }
</style>