<!-- Name: Maria Macias
StudentId: 301290835
Date: May 28th 2023
File name: services.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<!-- Navigation bar -->
<header>
  <%- include('./partials/header'); %>
</header>

<!-- body services -->
<main>
  <div class="jumbotron">
    <h1>Services</h1>
      <div>
        <h3>Languages, Frameworks, and Platforms</h3>
        <p class="project-description">Throughout my learning and work experience I've had the opportunity to work with multiple programming languages and frameworks, using them to build and mantain projects in both web and mobile applications. Some are java, javascript, typescript and C#. On the client side, frameworks such as Angular, React.js, and Vue.js. On the server side, Express and Node.js. Also, using databases such as MondoDB, MySQL, and Oracle.</p>
        <img class="rounded mx-auto d-block" height="300px" src="../images/services-logos.jpg" />
      </div>
      <div>
        <h3>Soft Skills</h3>
        <p class="project-description">Soft skills are the foundation of successful professional interactions, teamwork, and personal growth. Empathy, patience, and effective communication enable me as a  professionals to understand and meet customers and teammates needs, allowing me to contribute to a positive work culture and building long-lasting relationships</p>
        <img class="rounded mx-auto d-block" height="300px" src="../images/soft-skills.png" />
      </div>
  </div>
</main>

<!-- footer -->
<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>